<?xml version='1.0' encoding='utf-8'?>
<widget id="com.stack.stacksity" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Stacksity</name>
    <description>
        Stacksity is a social network allowing users to submit and vote on content.
    </description>
    <author email="support@stacksity.com" href="https://stacksity.com">
        Stacksity Team
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="webviewbounce" value="false"/>
    <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
    
    <gap:plugin name="pushbots-cordova-plugin" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-camera" source="npm"/>
    <gap:plugin name="cordova-plugin-media-capture" source="npm"/>
    <gap:plugin name="cordova-plugin-device" source="npm"/>
    <gap:plugin name="cordova-plugin-device-orientation" source="npm"/>
    <gap:plugin name="cordova-plugin-file" source="npm"/>
    <gap:plugin name="cordova-plugin-geolocation" source="npm"/>
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
    <gap:plugin name="cordova-plugin-media" source="npm"/>
    <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
    <gap:plugin name="cordova-plugin-vibration" source="npm"/>
    <gap:plugin name="cordova-plugin-statusbar" source="npm"/>
    <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />

    <gap:plugin name="com.telerik.plugins.wkwebview" />

    <preference name="StatusBarBackgroundColor" value="#FFFFFF"/>
    <preference name="StatusBarStyle" value="default" />
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icons/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icons/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icons/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icons/android/icon-96-xhdpi.png" />
    <icon gap:platform="blackberry" src="www/res/icons/blackberry/icon-80.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="www/res/icons/blackberry/icon-80.png" />
    <icon gap:platform="ios" height="57" src="www/res/icons/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="www/res/icons/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="www/res/icons/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="www/res/icons/ios/icon-72-2x.png" width="144" />
    <icon gap:platform="webos" src="www/res/icons/webos/icon-64.png" />
    <icon gap:platform="winphone" src="www/res/icons/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="www/res/icons/windows-phone/icon-173-tile.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" />
    <gap:splash gap:platform="blackberry" src="www/res/screen/blackberry/screen-225.png" />
    <gap:splash gap:platform="ios" height="480" src="www/res/screen/ios/screen-iphone-portrait.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="www/res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="www/res/screen/ios/screen-ipad-portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="www/res/screen/ios/screen-ipad-landscape.png" width="1024" />
    <gap:splash gap:platform="winphone" src="www/res/screen/windows-phone/screen-portrait.jpg" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
<allow-intent href="https://*/*" />
</widget>
