@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Light.ttf");
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
}
#container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.login{
    background: url(../img/background.jpeg) no-repeat center center fixed;
    background-size: cover;
}
.password{
    background: #0074D9;
}
.signup{
    background: #001f3f;
}
/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-family: Raleway;
    color: #fff;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 0px;
}
h2{
    font-family: Raleway;
    color: #fff;
    margin: 0;
}
small, .small {
    font-size: 85%;
}
a {
    color: #428bca;
    text-decoration: none;
    background: 0 0;
}
a:hover {
    text-decoration: underline;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.margintop{
    margin-top: 20px;
}
.container{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10px;
    width: 100%;
    max-width:500px;
    padding: 0 10px;
}
#inforeg p{
    font-family: Raleway;
    font-weight: bold;
}
.signinform {
    background-color: rgba(255,255,255, 0.7);
    padding: 10px;
}
.btn{
    background: #428bca;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px;
    font-weight: bold;
    font-family: Raleway;
    text-decoration: none;
}
.btn:hover{
    background-color: #5eabed;
    text-decoration: none;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}
.btn {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.small {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 5px;
    text-align: center !important;
    display: block;
}
.listlink a {
    background: #CDE;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 15px 12px;
    font-size: 14px;
    border-radius: 0;
    color: #555;
    margin-bottom: 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.errorprompt{
    text-align: center;
    margin-top: 0px;
    color: #fff;
    width: 100%;
    padding: 10px;
    background-color: #FF4136;
}
.padding-top{
    padding-top: 20px;
}
#loginform{
    display: none;
}
#loginloader{
    width: 80px;
    height: 80px;
    position: relative;
    margin: 10px auto 0 auto;
}
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}