#loginpage{
    background: url(../img/background.jpeg) no-repeat center center fixed;
    background-size: cover;
}
.password{
    background: #0074D9;
}
.signup{
    background: #001f3f;
}
input{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */
    user-select: text;
}
input[type="text"],input[type="email"],input[type="password"]{
    box-shadow: none !important;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #CCC;
    padding: 5px 10px 3px 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
small, .small {
    font-size: 85%;
}
#loginpage,#signuppage, #passpage{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover{
    text-decoration: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.margintop{
    margin-top: 20px;
}
#loginbutton, #signupbutton{
    height: 50px;
}
.container{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10px;
    width: 100%;
    max-width:500px;
    padding: 0 10px;
}
#inforeg p{
    font-family: Raleway;
    font-weight: bold;
}
.signinform{
    max-width: 350px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(255,255,255,0.9);
}
.signinform h2{
    font-size: 20px;
    margin-top: 0px;
}
.btn{
    background: #428bca;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px;
    font-weight: bold;
    font-family: Raleway;
    text-decoration: none;
}
.btn:hover{
    background-color: #5eabed;
    text-decoration: none;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}
.btn {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.small {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 5px;
    text-align: center !important;
    display: block;
}
.form-control {
    display: block;
    width: 100%;
    padding: 15px 12px;
    font-size: 14px;
    border-radius: 0;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .15s
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.errorprompt{
    text-align: center;
    margin-top: 0px;
    color: #fff;
    width: 100%;
    padding: 10px;
    background-color: #FF4136;
}
.padding-top{
    padding-top: 20px;
}
#loginform{
    display: none;
}
#loginloader{
    width: 80px;
    height: 80px;
    position: relative;
    margin: 10px auto 0 auto;
}
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}